<footer>
  <div mt-6 text-xs>
    <div op-60>由于域名可能会被阻断访问, 我们新增了个入口页面: <a class="gpt-subtitle text-xs" href="https://nav.free2gpt.xyz" target="_blank">https://nav.free2gpt.xyz</a> 当域名被阻断访问后,我们会更新入口页面的链接,请收藏入口页以防失联</div>
    <!-- <div op-60>由于最近OpenAI大量封号, 导致高峰时段错误率上升, 我们将尽快解决(可尝试点击重试)</div> -->
    <!-- <div op-60>完全免费 无需魔法 无需登录 不限次数</div> -->
    <div mt-1><a class=" gpt-subtitle text-xs" href="https://gpt4e.ninvfeng.xyz">赞助商: 3.5不够聪明? 付费使用GPT4</a>😎</div>
  </div>
</footer>
