<footer>
  <div mt-6 text-xs>
    <div op-60>由于最近OpenAI大量封号, 导致错误率上升, 我们将尽快解决(可多尝试多点击重试)</div>
    <!-- <div op-60>完全免费 无需魔法 无需登录 不限次数</div> -->
    <div mt-1><a class=" gpt-subtitle text-xs" href="https://gpt4e.ninvfeng.xyz">赞助商: 3.5不够聪明? 付费使用GPT4</a>😎</div>
  </div>
</footer>
