<footer>
  <div mt-6 text-xs>
    <div op-60>无需魔法 无需登录 不限次数 就该如此方便简洁</div>
    <div op-60>最近请求量激增,超出了服务承载能力😭 可尝试点击重试,我们将尽快想办法解决</div>
    <div class="mt-1"><a class=" gpt-subtitle text-xs" href="https://gpt4d.ninvfeng.xyz">赞助商: 3.5不够聪明? 付费使用GPT4</a>😎</div>
  </div>
</footer>
