<footer>
  <div mt-6 text-xs>
    <!-- <div op-60>网站已恢复到较低的错误率,祝:工作顺利😄</div> -->
    <!-- <div op-60>完全免费 无需魔法 无需登录 不限次数</div> -->
    <div op-60>域名更新为:<a class="gpt-subtitle text-xs" href="https://chato.free2gpt.xyz" target="_blank">chato.free2gpt.xyz</a> 如果突然打不开, 那大概率是域名被污染了。虽然我们只是小团队, 但不会突然关闭网站, 至少会提前跟大家说一声, 最新域名会第一时间更新到导航站, 请保存↓↓↓</div>
    <div op-60>收藏不迷路: <a class="gpt-subtitle text-xs" href="https://nav.free2gpt.xyz" target="_blank">https://nav.free2gpt.xyz</a></div>
    <div mt-1><a class=" gpt-subtitle text-xs" href="https://gpt4g.ninvfeng.xyz">赞助商: 3.5不够聪明? 付费使用GPT4</a>😎</div>
  </div>
</footer>
