<footer>
  <div mt-6 text-xs>
    <!-- <div op-60>网站已恢复到较低的错误率,祝:工作顺利😄</div> -->
    <div op-60>完全免费 无需魔法 无需登录 不限次数</div>
    <!-- <div op-60>刚刚域名被阻断访问了,我们从chatk.free2gpt.xyz更新到了<a class="gpt-subtitle text-xs" href="https://chatl.free2gpt.xyz" target="_blank">chatl.free2gpt.xyz</a>极端情况下之前看到的所有域名可能都无法访问,所以希望您动动手收藏一下以下入口↓↓↓</div> -->
    <div op-60>收藏不迷路: <a class="gpt-subtitle text-xs" href="https://nav.free2gpt.xyz" target="_blank">https://nav.free2gpt.xyz</a></div>
    <div mt-1><a class=" gpt-subtitle text-xs" href="https://gpt4e.ninvfeng.xyz">赞助商: 3.5不够聪明? 付费使用GPT4</a>😎</div>
  </div>
</footer>
