<footer>
  <div mt-6 text-xs>
   <div op-60>完全免费 无需魔法 无需登录 😎</div>
   <div mt-2 op-60>收藏不迷路: <span class="gpt-subtitle text-xs" target="_blank">https://freegpts2.aifree.site</span></div>
    <div mt-2><a class=" gpt-subtitle text-xs" href="https://chat11.chatxyz.online">赞助商: CHATGPT4点击进入</a>😎</div>
  </div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6394500565067284"
     crossorigin="anonymous"></script>
</footer>
