<footer>
  <div mt-6 text-xs>
    <div op-60>网站完全恢复啦! 感谢<a class=" gpt-subtitle text-xs" href="https://peiqishop.cn">佩奇GPT商店</a>赞助的token额度, 各位如果有购买key的需求可以点击看下我们的佩奇赞助商</div>
    <!-- <div op-60>我们正在遭受OpenAI大规模封号的影响, 账号池中全部账号已被封禁, 损失惨重😭, 我们正在努力寻找购买token渠道, 最近服务可能不可用, 如果您有便宜的购买渠道, 请联系我们: <a gpt-subtitle text-xs href="mailto:free2gpt@gmail.com">free2gpt@gmail.com</a> , 感谢在这两天基本不可用的状态下仍然给我们捐赠的同学,感谢!</div> -->
    <!-- <div op-60>完全免费 无需魔法 无需登录 120次/天</div> -->
    <!-- <div op-60>域名更新为:<a class="gpt-subtitle text-xs" href="https://chato.free2gpt.xyz" target="_blank">chato.free2gpt.xyz</a> 如果突然打不开, 那大概率是域名被污染了。虽然我们只是小团队, 但不会突然关闭网站, 至少会提前跟大家说一声, 最新域名会第一时间更新到导航站, 请保存↓↓↓</div> -->
    <div mt-2 op-60>收藏不迷路: <a class="gpt-subtitle text-xs" href="https://nav.free2gpt.xyz" target="_blank">https://nav.free2gpt.xyz</a></div>
    <div mt-2><a class=" gpt-subtitle text-xs" href="https://gpt4f.ninvfeng.xyz">赞助商: 3.5不够聪明? 付费使用GPT4</a>😎</div>
    <div mt-2><a class=" gpt-subtitle text-xs" href="https://peiqishop.cn">赞助商: 佩奇商店,有售便宜稳定3.5和4.0 API Key</a>🦄</div>
  </div>
</footer>
