<footer>
  <div mt-6 text-xs>
    <div op-60>无需魔法 无需登录 不限次数 就该如此方便简洁</div><br>
    <div op-60>如提示限额,可点击重试或等一会再试😄</div><br>
    <div class="mt-1"><a class=" gpt-subtitle text-xs" href="https://gpt4e.ninvfeng.xyz">赞助商: 3.5不够聪明? 付费使用GPT4</a>😎</div>
  </div>
</footer>
