<footer>
  <div mt-6 text-xs>
    <div op-60>无需魔法 无需登录 不限次数 就该如此方便简洁</div><br>
    <div op-60>感谢赞助商资金和KEY支持, 限速的情况得到改善</div>
    <div op-60>如果您有GPT4使用需求,恳请您点击以下链接使用↓</div><br>
    <div class="mt-1"><a class=" gpt-subtitle text-xs" href="https://gpt4e.ninvfeng.xyz">赞助商: 3.5不够聪明? 付费使用GPT4</a>😎</div>
  </div>
</footer>
