<footer>
  <div mt-6 text-xs>
   <div op-60>完全免费 无需魔法 无需登录 😎</div>
   <div mt-2 op-60>收藏不迷路: <span class="gpt-subtitle text-xs" target="_blank">https://freegpts2.aifree.site</span></div>
    <div mt-2><a target="_blank" class=" gpt-subtitle text-xs" href="https://chat11.chatxyz.online">赞助商: 付费使用GPT4(已支持gpt-4-1106-preview)点击进入</a>😎</div>
  </div>
</footer>
