<footer>
  <div mt-6 text-xs>
   <div op-60>完全免费 无需魔法 无需登录</div>
   <div mt-2 op-60>收藏不迷路: <a class="gpt-subtitle text-xs" href="https://freegpts1.aifree.site" target="_blank">https://freegpts1.aifree.site</a></div>
    <div mt-2><a class=" gpt-subtitle text-xs" href="https://chat11.chatxyz.online">赞助商: CHATGPT4点击进入</a>😎</div>
  </div>
</footer>
