<footer>
  <div mt-6 text-xs>
    <div op-60>无需魔法 无需登录 不限次数 就该如此方便简洁</div>
    <div op-60>感谢赞助商提供的资金和key,出现限速提示的情况得到改善,如果你有GPT4的使用需求,恳请您通过下面链接使用赞助商的付费服务</div>
    <div class="mt-1"><a class=" gpt-subtitle text-xs" href="https://gpt4e.ninvfeng.xyz">赞助商: 3.5不够聪明? 付费使用GPT4</a>😎</div>
  </div>
</footer>
