---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <span class="gpt-subtitle">Free2gpt</span>
    <Themetoggle />
  </div>
  <p mt-1 op-60>基于OpenAI ({model})</p>
</header>
