---
import { model } from '../utils/openAI'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <span class="gpt-subtitle">FREEGPT</span>
    <Themetoggle />
  </div>
</header>
