---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-subtitle">Free2gpt</span>
  </div>
</header>
